<div phx-window-keydown="keydown" phx-window-keyup="keyup">
  <%= if @game_state == :welcome do %>
    <div class="welcome-container">
      Hello, <%= @name %>
      <br /> ready?
    </div>
  <% end %>

  <%= if @game_state == :playing do %>
    <div class="another-container">
      <div class="block paddle"></div>
    </div>
  <% end %>
</div>
